.filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter-item button {
    background: none;
    color: var(--white-1);
    font-size: var(--fs-6);
    transition: var(--transition-1);
}

.filter-item button:hover,
.filter-item button.active {
    color: var(--orange-yellow-crayola);
}